.scrollBtnSlider {
    position: fixed;
    bottom: 5%;
    right: 0%;
    height: 3rem;
    width: 3rem;
    z-index: 999;
}

.scrollBtnSlider button{
    display: block;
    margin: 0 ;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--mainColor);
    color: var(--eerie-black-1);
    border: 1px solid black;
    border-radius: 2px;
}

.scrollBtnSlider button:hover{
    background-color: var(--eerie-black-1);
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
}

@media screen and (max-width: 1000px) {
    .scrollBtnSlider button:hover{
        background-color: var(--mainColor);
    }
    .scrollBtnSlider button i:hover{
        color: var(--eerie-black-1);
    }
}



.show {
    display: block;
}

.hide {
    display: none;
}